<!-- <section class="container">
    <div class="iconos">
        <a href="https://www.instagram.com/kigenbox/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/profile.php?id=61565039287794"><i class="fa-brands fa-facebook"
                target="_blank"></i></a>
        <a href="mailto:"><i class="fa-solid fa-envelope" target="_blank"></i></a>
    </div>
    <div class="direccion">
        <div>
            <i class="fa-solid fa-phone"></i>
            <p>722 226 935</p>
        </div>
        <div>
            <i class="fa-solid fa-map-location-dot"></i>
            <p>C/Cerrajeros 2B, Camarma de Esteruelas, 28816</p>
        </div>
    </div>
</section> -->