<div class="container">
    <div class="hamburguesa" (click)="onClick()">
        @if(estado==='cerrado'){
        <i class="fa-solid fa-bars li"></i>
        }
        @if(estado==='abierto'){
        <i class="fa-solid fa-xmark li"></i>
        }
    </div>

    <ul [classList]="estado" class="menu" (click)="onClick()">
        <li class="logo" [routerLink]="['/inicio']">KIGEN</li>

        <hr>
        <li class="servicios">Servicios <span>▼</span>
            <ul class="desplegable">
                <li [routerLink]="['inicio/clases']">Clases</li>

                <li [routerLink]="['/']">Entrenamiento personal</li>

                <li [routerLink]="['/']">Rehabilitación</li>

                <li [routerLink]="['/']">Nutrición</li>
            </ul>
        </li>
        <li [routerLink]="['inicio/horarios']">Galeria
            <hr>
        </li>
        <li [routerLink]="['inicio/nosotros']">Nosotros</li>
        <hr>
        <li [routerLink]="['inicio/horarios']">Tarifas</li>
        <hr>
        <li [routerLink]="['inicio/horarios']">Horarios</li>
        <hr>
        <li [routerLink]="['inicio/sobre_nosotros']">Instalaciones</li>
        <hr>
        <li [routerLink]="['inicio/contacto']"
            [style]="router.url === '/contacto' ? {'backgroundColor':'white', 'color':'black'}:{}">Contacto
        </li>
        <hr>
    </ul>

</div>