.container {
  padding: 1rem;
}
.cerrado {
  display: none;
}
ul {
  list-style: none;
  flex-direction: column;
  color: white;
  padding: 1rem;
  li {
    cursor: pointer;
  }
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
li {
  cursor: pointer;
}
.abierto {
  display: flex;
}
i {
  color: white;
  font-size: 250%;
}
hr {
  margin: 1rem;
  border-top: 0.25px;
  opacity: 0.25;
}
.logo {
  text-align: center;
}
div.hamburguesa {
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  width: 70px;
  hr {
    margin: 0.5rem;
    border: 2px solid white;
    opacity: 1;
  }
}
@media (min-width: 1004px) {
  .cerrado {
    display: flex;
  }
  i {
    display: none;
  }
  .container {
    margin: 0 auto;
    font-size: 1.3rem;
  }
  ul {
    flex-direction: row;

    justify-content: space-around;
  }
  ul > li:hover {
    transform: scale(1.07);
  }
  li {
    padding: 2rem;
    transition: 0.3 ease;
  }
  .desplegable {
    position: absolute;
    width: 260px;
    top: calc(0 +2rem);
    display: none;
    background-color: black;
    li {
      padding-left: 0.5rem;
      padding-top: 2rem;
    }
  }
  .servicios {
    position: relative;
  }
  .servicios:hover {
    .desplegable {
      display: flex;
      flex-direction: column;
    }
  }
  hr {
    display: none;
  }
}
