<div>
    <section>

        <div class="hero">
            <h1>KIGEN BOX</h1>
            <h4>The Movement Lab</h4>
            <button>NUESTROS SERVICIOS</button>
        </div>

    </section>

    <section class="nosotros">
        <div>
            <h2>NOSOTROS</h2>
            <hr>
        </div>
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto commodi placeat sunt libero quidem quo
                illo
                asperiores quis. Natus animi adipisci magnam incidunt aspernatur doloremque quibusdam vero illum eos
                placeat
                consequuntur, beatae error laudantium minus quas veritatis commodi architecto rerum sit dolore voluptate
                totam eum. Temporibus, a repellendus impedit debitis laudantium consequatur rem. Esse provident aperiam
                debitis amet quas recusandae nobis rerum magni quo necessitatibus repellendus, veniam repudiandae rem
                minus
                sapiente nostrum quia nisi hic omnis autem libero ullam eveniet pariatur. Voluptatum exercitationem
                explicabo expedita quos debitis veritatis officia itaque harum maiores ullam temporibus asperiores,
                culpa
                tempora? Explicabo, facilis quas itaque dicta doloribus earum perspiciatis error minima accusamus
                perferendis, corrupti excepturi? Repellendus nulla quam sapiente hic aspernatur, eius quod tempora totam
                .</p>
        </div>
        <div class="fotos container">
            <figure>
                <img src="images/image copy.png" alt="">
                <div class="ellos">
                    <p class="nombre">ALBA</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt debitis ducimus adipisci hic
                        nostrum natus exercitationem dolorum earum, est sint aliquid ea necessitatibus, suscipit tempore
                        aspernatur maxime aut inventore asperiores doloremque ipsa voluptatibus iure! Iure, rerum fugit
                        quod dolor necessitatibus quasi inventore iusto cum quos, sit iste eum. Nemo, necessitatibus.
                    </p>
                </div>
            </figure>
            <figure>
                <img src="images/image copy 2.png" alt="">
                <div class="ellos">
                    <p class="nombre">IVÁN</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt debitis ducimus adipisci hic
                        nostrum natus exercitationem dolorum earum, est sint aliquid ea necessitatibus, suscipit tempore
                        aspernatur maxime aut inventore asperiores doloremque ipsa voluptatibus iure! Iure, rerum fugit
                        quod dolor necessitatibus quasi inventore iusto cum quos, sit iste eum. Nemo, necessitatibus.
                    </p>
                </div>
            </figure>
        </div>

    </section>
    <section class="elBox">
        <div class="container">
            <h2>EL BOX</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ipsum laboriosam dolorum, placeat corporis
                commodi, odio vitae tenetur error cumque magni voluptatem, illum quos repellat totam quam aliquid natus.
                Distinctio repudiandae eius at soluta enim tenetur qui sit, rerum veniam quae illo corrupti aliquam
                vitae minus non ea quasi omnis.</p>

        </div>
        <div class="foto container">
            <figure>
                <img src="images/image copy 3.png" alt="">
            </figure>

        </div>
    </section>
</div>